<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <!-- 兼容性问题，使用浏览器最高版本来渲染-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css ../styles/guide-manage.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/guide-manager.css">
    <!-- endbuild -->

</head>
<body ng-app="webGuideManageApp" start-ajax-loading="true">
<% include ../views/common/manage-header.html %>
<div class="container-fluid" ng-controller="WebGuideManageCtrl">

    <div class="row">

        <div class="col-sm-2 col-md-1 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="" ng-click="switchTo('html',$event)">HTML 代码规范</a></li>
                <li><a href="" ng-click="switchTo('css',$event)">CSS 代码规范</a></li>
                <li><a href="" ng-click="switchTo('javascript',$event)">JavaScript 代码规范</a></li>
                <li><a href="" ng-click="switchTo('performance',$event)">性能优化</a></li>
                <li><a href="" ng-click="switchTo('component',$event)">组件库</a></li>
            </ul>
        </div>

        <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 guide-manage-main">
            <div class="form-group">
                <textarea id="content" name="content" ui-tinymce="tinymceOptions"  ng-model="guide.content" class="sr-only"></textarea>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-5">
                    <button class=" btn btn-primary btn-block" type="button" ng-click="save()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<% include ../views/common/manage-footer.html %>

<!-- build:js ../scripts/vendor-guide-manage.js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- TinyMCE -->
<script src="../bower_components/tinymce/tinymce.jquery.js"></script>
<script src="../scripts/components/tinymce/langs/zh_CN.js"></script>
<script src="../bower_components/angular-ui-tinymce/src/tinymce.js"></script>
<!-- endbuild -->

<!-- build:js ../scripts/guide-manage.js -->
<script src="../scripts/guide-manage/apps/app-manage.js"></script>
<script src="../scripts/services/httpInterceptor.js"></script>
<script src="../scripts/guide-manage/services/service-manage.js"></script>
<script src="../scripts/guide-manage/controllers/controller-manage.js"></script>
<!-- endbuild -->

</body>
</html>
