<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta name="description" content="">
  <!-- 兼容性问题，使用浏览器最高版本来渲染-->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./styles/guide.css">
  <!-- endbuild -->

</head>
<body ng-app="webGuideApp" ng-controller="MainCtrl">
<% include ./views/common/header.html %>
<% include ./views/common/main.html %>
<% include ./views/common/footer.html %>

<!-- build:js scripts/vendor-main.js -->
<script src="./bower_components/jquery/dist/jquery.js"></script>
<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/main.js -->
<script src="./scripts/apps/app-main.js"></script>
<script src="./scripts/controllers/controller-main.js"></script>
<script src="./scripts/directives/directive-link-active.js"></script>
<script src="../scripts/directives/directive-back-to-top.js"></script>
<!-- endbuild -->
</body>
</html>
