<div class="container-fluid">

  <div class="row">

    <div class="col-sm-2 col-md-1 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="/manage#/html" >HTML 编码规范</a></li>
        <li><a href="/manage#/css" >CSS 编码规范</a></li>
        <li><a href="/manage#/javascript" >JavaScript 编码规范</a></li>
        <li><a href="/manage#/performance" >性能优化</a></li>
        <li class="active"><a href="/component#/" >组件库</a></li>
      </ul>
    </div>

    <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 guide-manage-main" ng-view="">

    </div>

  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
