<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta name="description" content="">
  <!-- 兼容性问题，使用浏览器最高版本来渲染-->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- build:css({.tmp,app}) styles/resources.css -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../styles/guide.css">
  <!-- endbuild -->

</head>
<body ng-app="webGuideApp">
<% include ../views/common/header.html %>
<% include ../views/common/resources.html %>
<% include ../views/common/footer.html %>

<!-- build:js scripts/vendor-resources.js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/guide.js -->
<script src="../scripts/guide/apps/app-guide.js"></script>
<script src="../scripts/directives/directive-back-to-top.js"></script>
<!-- endbuild -->
<script>
  $(function () {
    $('a[data-toggle="popover"]').popover();
  });
</script>
</body>
</html>
