<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta name="description" content="">
  <!-- 兼容性问题，使用浏览器最高版本来渲染-->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../bower_components/SyntaxHighlighter/styles/shCore.css">
  <link rel="stylesheet" href="../styles/sh-blue-classic.css">
  <link rel="stylesheet" href="../styles/guide.css">
  <!-- endbuild -->

</head>
<body ng-app="webGuideApp" ng-controller="WebGuideCtrl">
<% include ../views/common/header.html %>

<div class="container-fluid guide-container">
  <div class="row" generate-catalogue>
    <div class="col-md-9">
      <div class="guide-content guide-content-outline">
        <!--动态引入include 带目录的文章-->
        <%- include('../docs/guide/' + locals.guideType + '-catalogue-content.html') %>
      </div>
    </div>

    <div class="col-md-3 guide-aside-panel">
      <div class="guide-catalogue-panel">
        <div class="guide-catalogue-header"><span class="glyphicon glyphicon-list"></span></div>
        <div class="guide-catalogue">
          <!--动态引入include 目录-->
          <%- include('../docs/guide/' + locals.guideType + '-catalogue.html') %>

          <div class="guide-catalogue-arrow" style="display: none;">
            <div class="up disabled"><span class="glyphicon glyphicon-chevron-up"></span></div>
            <div class="down"><span class="glyphicon glyphicon-chevron-down"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../views/common/footer.html %>

<!-- build:js scripts/vendor-guide.js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

<!-- build:js ../scripts/syntaxhighlighter.js -->
<script src="../bower_components/SyntaxHighlighter/scripts/XRegExp.js"></script>
<script src="../bower_components/SyntaxHighlighter/scripts/shCore.js"></script>
<script src="../bower_components/SyntaxHighlighter/scripts/shAutoloader.js"></script>
<script src="../bower_components/SyntaxHighlighter/scripts/shBrushXml.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/guide.js -->
<script src="../scripts/guide/apps/app-guide.js"></script>
<script src="../scripts/services/httpInterceptor.js"></script>
<script src="../scripts/guide/services/service-guide.js"></script>
<script src="../scripts/guide/controllers/controller-guide.js"></script>
<script src="../scripts/directives/directive-link-active.js"></script>
<script src="../scripts/directives/directive-back-to-top.js"></script>
<script src="../scripts/guide/directives/directive-guide.js"></script>
<!-- endbuild -->

</body>
</html>
