<!-- Fixed navbar -->
<header class="navbar navbar-inverse navbar-fixed-top guide-header" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand<% if (locals.home) { %> active<% } %>" href="/">Web前端指南</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" link-active="active">
        <li><a ng-href="/guide/html">HTML 编码规范</a></li>
        <li><a ng-href="/guide/css">CSS 编码规范</a></li>
        <li><a ng-href="/guide/javascript">JavaScript 编码规范</a></li>
        <li><a ng-href="/guide/performance">性能优化</a></li>
        <li><a ng-href="/component" target="_blank">组件库</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="/manage">编辑指南</a></li>
        <li<% if (locals.resources) { %> class="active"<% } %>><a ng-href="/resources" target="_blank">学习资源</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</header>